/* COMEÇA AQUI A CONFIGURAÇÃO MOBILE COM @MEDIA , DEIXANDO A INTERATIVIDADE MOBILE MELHOR.*/

@media ( max-width:600px) {

    /*CONFIGURAÇÃO DA PARTE DE BAIXO -- fora do cabeçalho
    
    AQUI É A CSS QUE ESTILIZA A PARTE DE BODY DA HOME. NADA MAIS.
    */
* {
    margin: 0px;
    padding: 0px;
    max-width: 360px;
}    

body {
    margin: auto;
}

header {
    height: 50px;
    padding: 0px;
}

.logo > img {
    width: 100px;
}

main#container {
    height: 340px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    align-content: center;
    max-width: 100%;
    margin-bottom: 5px;

   /* background: url(imagemSiteCSS/background-ebook.jpg);
   /* background: url(imagemSiteCSS/fundo-homeGS.png);
   background: url(imagemSiteCSS/Cópia\ de\ fundo-blog.png);
   /*background: url(imagemSiteCSS/grow-background3.jpg);*/
}
    
.info{
    margin: auto;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    width: 280px;
    margin-top: 30px ;
    padding: 20px 15px 20px 15px;
    text-align: center;
    text-shadow: 2px 2px 2px grey;
    grid-row: 1;
    line-height: 23px;
    height: 100px;
    

    /*background: #e9e9e927;*/
    /*color: rgb(14, 14, 14);*/
    color: rgb(221, 221, 221);
    border-radius: 10px;
    /*border: 1px groove #424242;*/
 }
    
button#ativar{
    grid-row: 2;
    grid-column: 1;
    margin-top: 15px;
    border-radius: 10px;

    background: linear-gradient(#02e0bb , #01b99b);
    color: #1a1a1a;
}
        
.frase{
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
    background: #02e0bb;
    /*color: black;*/
    color: black;
    width: 290px;
    margin: auto;
    margin-top: 10px;
    border: 2px groove black;
    text-align: center;
    grid-row: 3;
    grid-column: 1;
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.76);
    border-radius: 5px 20px;
}

#conteudo {
    padding-top: 10px;
    /*border: 1px groove #838383a8;
    border-bottom: #02e0bb groove 1px;*/
    width: 320px;
    margin: auto;
    /*box-shadow: 2px 2px 2px black;*/
    line-height: 20px;
}

/* ESSA É A PARTE DO SEJA BEM VINDOS A GROW SEARCH*/

h2#bemvindo{
    margin: auto;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: monospace;
    padding: 8px;
    text-align: center;
    width: 250px;
}

.primeirobox {
    width: 300px;
}

.primeirobox>h3{
    font-size: 15px;
    font-family: monospace;
    width: 300px;
    margin: auto;
}

.primeirobox>p {
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    width: 300px; 
} 

.scroll-mobile {
    overflow-x: scroll;
}

.scroll-mobile::-webkit-scrollbar {
    height: 8px;
    margin: 0px;
}
    
div.grid-1{
    height: 245px;
    padding: 15px;
    display: grid;
    grid-template-areas: "a d b"
                         "c c c";
}

#quemsomos{
    width: 250px; 
    height: 150px;
    grid-area: a;
}
.botao-qsomos {
   height: 12px;
   font-size: 1rem;
   width: 30px;
}

#confira-blog{
    width: 250px;
    height: 150px;
    grid-area: d;
}
.botao-irPblog {
    font-size: 1rem;
    height: 10px;
    width: 30px;
}

.listas{
    display: none;
    width: 280px;
    height: 672px;
    background-color: transparent;
    grid-area: c;
}

#oque-esta-porvir {
    grid-area: b;
    width: 240px;
    height: 130px;
}

.botao-novidades {
    font-size: 1rem;
    height: 10px;
    margin-top: 10px;
}

/*             PARTE MUDANDO DE COR     */
.mudando-cor {
    max-width: 412px;
    height: 570px;  
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap
}

.titulosInicial-i {
    top: 1055px;
    left: 800;
}

div#img-relatorios{
    margin-top: 10px;
    padding: 20px;
    width: 300px;
    height: 210px;
    background-image: url(imagens-do-site/receitaempresas-mobile.png);
    display: none;
}

#img-relatorios>h2{
    display: none;
}

.dividindoPag {
    display: flex;
    flex-wrap: wrap;
}

.centralizar {
    margin: 0px;
    width: 250px;
    height: 380px;
    border-radius: 10px 10px 0px 0px;
}

.centralizar > h2 {
    font-family: monospace;
    font-size: 20px;
    width: 260px;
    color: #fff;
    margin-bottom: 10px;
    text-align: left;
}

.centralizar > p{
    width: 250px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    
}
  
#receitas-relatorios{
    display: flex;
    width: 250px;
    height: 50px;
    border: 2px groove #777777;
    margin: auto;
    border-radius: 0px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 0px 0px 10px 10px;
}
    
#receitas-relatorios > .botao-1, .botao-2{
    width: 50px;
    height: 50px;
    align-items: center;
    color: #fff;
}

#receitas-relatorios > p {
    display: none;
}

/*    TERMINADA A PARTE DE MUDANÇA DE COR */

.box-ebook {
    display: none;
}

.apres-blog > h2{
    font-family: 'Courier New', Courier, monospace;
    color: rgba(180, 180, 180, 0.747);
    text-shadow: none;
}

.apres-blog > p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    width: 300px;
    margin-left: 30px;
    margin-top: 10px;
    color: rgb(182, 182, 182);
    text-shadow: none;
}

 #not-5 , #not-6 {
    display: none;
}

#imagens {
    background: linear-gradient(rgba(128, 128, 128, 0.514) , rgba(65, 65, 65, 0.568));
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    overflow-x: scroll;
    width: 100%;
    justify-content: flex-start;
    border-radius: 0px;
}

#imagens::-webkit-scrollbar {
    height: 8px;
}


#imagens::-webkit-scrollbar-corner {
    margin-top: 100px;
}

#imagens::-webkit-scrollbar-thumb {
    background: #00ffaa;
}

#imagens > div {
    width: 100px;
    height: 160px;
    display: block;
    background-color: #1f1f1f;
}

#imagens > #not-1 {
    background: url(imagemSiteCSS/Bitcoin.jpg);
}

#imagens > div > p {
    display: none;
    font-size: .5rem;
    line-height: 13px;
}

#imagens > div > a > img {
    display: none;
}

footer {
    max-width: 412px;
    margin-top: 30px;
    background-color: #1a1a1a;
    font-family: monospace;
    font-size: 1.1rem;
}
}