body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: #02e0bb;
    border-radius: 30px;
}

header {
    height: 70px;
    border-bottom: solid 1px #e7e7e7;
    margin-bottom: 40px;
}

header > a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: rgb(224, 224, 224);
    margin-left: 20px;
    text-decoration: none;
}

main{
    display: flex;
    max-width: 1350px;
}

#conteudo-quemsomos{
    height: 750px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    color: #e7e7e7;
    background-color: #1B1D20;
    padding: 20px;
    max-width: 850px;
    border-radius: 8px;
    border: groove 1px #02e0bb;
}

#conteudo-quemsomos > h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 38px;
    color: #e7e7e7;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.301);
}

#conteudo-quemsomos > h2 {
    font-size: 1.5rem;
    color: #02e0bb;
    margin-bottom: 15px;
}

#conteudo-quemsomos > p {
    text-align: left;
    line-height: 25px;
    font-size: 14px;
}

#com-imagens {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #02e0bb2f;
    color: #e7e7e7;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.507);
    border-radius: 25px 8px;
}

#com-imagens>h2{
    font-size: 2rem;
    margin-bottom: 10px;
    border-bottom: groove 2px rgba(0, 0, 0, 0.705);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.336);
}

#com-imagens>p{
    margin-top: 15px;
    line-height: 25px;
    font-weight: 500;
}

.pcomlinks{
    margin-top: 10px;
}

#telegram-qsomos{
    padding: 20px;
    margin-left: 60px;
}

aside{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 750px;
    max-width: 400px;
    background: #282A2D;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}

aside > h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e7e7e7;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

div{
    margin: 20px;
}

#not-1Blog{
    background-color: #913AF3;
    height: 170px;
    width: 250px;
    margin-left: 40px;
    text-align: center;
    padding: 15px;
    border: 2px groove #913AF3;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.651);
}

#not-1Blog:hover{
    background-color: #b522c2a6 ; 
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.438);
    color: #fff;
    font-weight: bold;    
}

#not-2{
    background-color: rgb(235, 235, 235);
    width: 300px;
    text-align: center;
    padding: 15px;
    border: 2px groove rgb(148, 1, 148);
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.651);
}

#not-2:hover{
    background-color: #b522c298 ;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.438);
    color: #fff;
    font-weight: bold;
}

#not-3{
    width: 250px;
    height: 50px;
    padding: 20px;
    margin-left: 50px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    color: black;
    border: groove 2px rgba(0, 0, 0, 0.767);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.651);
}

#not-3>a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.233);
}

#not-3:hover{
    background-color: #b522c298;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.438);
}

/*   MEDIA QUERIES PARA SITE MOBILE */

@media (max-width:600px){

        /* CONIGURAÇÃO DE HEADER */

    
     .btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font: bold 1rem sans-serif;
        color: #fff;
        background: none;
        border: none;
        cursor: pointer;
        gap: 5px;
    }
        
    .hamburguer{
        display: block;
        border-top: 2px solid;
        width: 20px;
    }
        
    .hamburguer::after , .hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
        
    .nav.active .hamburguer{
        border-top-color: transparent ;
        color: #00ffaa;
    }
        
    .nav.active .hamburguer::before{
        transform: rotate(135deg);
        
     }
            
    .nav.active .hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
        
    .menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 80px;
        right: 0px;
        height: 0px;
        background: #3d474e;
        transition: 0.6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
        
    .nav.active .menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
        
    .menu a {
        padding: 1rem 0px;
        margin: 10px 45px;
        border-bottom: 2px solid #00ffaa;
        text-align: center;
        border-radius: none;
    }
        
    .menu>li{
        border: none;
        border-radius: none;
        box-shadow: none;
        width: 100%;
    }
        
    .menu>li>a{
        border: none;
        border-bottom: 2px solid rgba(0 , 0 , 0 , 0.5);
        border-radius: none;
        background: none;
        color: #00ffaa;
        font-size: 1.2rem;
        font-family: monospace;
        background: #1b2024;
        margin-top: 20px;
    }
        
    .menu>li>a:hover{
        color: #fff;
        background: #1b2024;
    }
/*   ACABADO A CONFIGURAÇÃO DO MENU MOBILE */

    #conteudo-completo{
        display: flex;
        flex-wrap: wrap;
    }

    #conteudo-quemsomos{
        margin: 5px;
        padding: 10px;
    }
    #com-imagens{
        width: 87%;
        margin: 0px;
    }

    #telegram-qsomos{
        padding: 5px;
        width: 100%;
    }

    #conteudo-completo>#noticias-blog{
        width: 320px;
    }

    #noticias-blog{
        margin: 5px;
        padding: 10px;
    }
    #noticias-blog>div{
        max-width: 280px;
        margin: 0px;
        margin-bottom: 10px;
    }
    div>a>img{
        width: 250px;
    }

    .img-not{
        width: 270px;
    }
    
}