body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: /*#1B1D20*/ #e7e7e7;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: #02e0bb;
    border-radius: 30px;
}

header {
    height: 70px;
    border-bottom: solid 1px #e7e7e7;
    margin-bottom: 40px;
}

header > a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: rgb(224, 224, 224);
    margin-left: 20px;
    text-decoration: none;
}

main{
    display: flex;
    max-width: 1350px;
}

#conteudo-quemsomos{
    height: 750px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    color: #e7e7e7;
    background-color: /*#1B1D20*/ #1B1D20;
    padding: 20px;
    max-width: 850px;
    border-radius: 8px;
    /*border: groove 1px #02e0bb;*/
}

#conteudo-quemsomos > h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 38px;
    color: #e7e7e7;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.301);
}

#conteudo-quemsomos > h2 {
    font-size: 1.5rem;
    color: #02e0bb;
    margin-bottom: 15px;
}

#conteudo-quemsomos > p {
    width: 900px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    line-height: 25px;
    font-size: 16px;
}

#com-imagens {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 40px;
    padding: 20px;
    background-color: #03947c;
    color: #e7e7e7;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.507);
    border-radius: 25px 8px;
}

#com-imagens>h2{
    font-size: 2rem;
    margin-bottom: 10px;
    border-bottom: groove 2px rgba(0, 0, 0, 0.705);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.336);
}

#com-imagens > p {
    margin-top: 15px;
    line-height: 25px;
    font-weight: 500;
}

.pcomlinks{
    margin-top: 10px;
}

#telegram-qsomos{
    padding: 20px;
    margin-left: 60px;
}

aside{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 750px;
    max-width: 400px;
    background: #2d3033;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #111416;
}

aside > h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e7e7e7;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

div{
    margin: 20px;
}

#not-1Blog{
    background-color: #1B1D20;
    color: #e7e7e7;
    font-weight: 500;
    height: 170px;
    width: 250px;
    margin-left: 40px;
    text-align: center;
    padding: 15px;
    /*border: 3px groove #913AF3;*/
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.651);
}

#not-1Blog:hover{ 
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.438);
    color: #fff;  
}

#not-2Blog {
    height: 170px;
    width: 250px;
    margin-left: 40px;
    color: #e7e7e7;
    font-weight: 500;
    background-color: #1B1D20;
    text-align: center;
    padding: 15px;
    /*border: 3px groove #913AF3;*/
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.651);
}

#not-2Blog:hover{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.438);
    color: #fff;
    font-weight: bold;
}

#not-3Blog{
    width: 240px;
    height: 40px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 40px;
    background-color: #913AF3;
    text-align: center;
    border-radius: 20px;
    color: black;
    border: groove 2px rgba(0, 0, 0, 0.767);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.651);
}

#not-3Blog > a {
    width: 200px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.233);
}

#not-3Blog:hover{
    padding: 23px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.438);
}


#footer-qsomos {
    margin-top: 50px;
    padding: 20px;
    background: #13161a;
    text-align: center;
    color: #e7e7e7;
    border-top: groove 1px #e7e7e7;
}
#footer-qsomos > a {
    color: #02e0bb;

}
