*{
    /*font-family: 'Work Sans', sans-serif;*/
    /*font-family: 'Red Hat Mono', monospace;*/
    /*font-family: 'Roboto', sans-serif;*/
    margin: 0px;
    padding: 0px;
}

body{
    /*background-image: linear-gradient(rgb(255, 255, 255), rgba(9, 7, 34, 0.795), rgb(255, 255, 255));*/
    background-image: linear-gradient(#11181E , #1b2024);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: #00da91;
    border-radius: 30px;
}

.header{
    background-color: #11181E;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    height: 75px;
}

.header>a{
    color: #fff;
}
.menu{
    color: #fff;
    display: flex;
    padding-right: 20px;
}

.menu>li{
    margin-left: 12px;
    list-style: none;
    font: solid;
    box-shadow: 2px 2px 2px black;
    border-radius: 15px;
}

.menu>li:hover{
    box-shadow: none;
}

.menu>li>a{
    display: block;
    padding: 10px;
    background-image: linear-gradient(#00ffaa , #028358);
    border-radius: 15px;
    color: rgb(65, 65, 65);
    text-decoration: none;
    font-weight: bold; 
    border: groove 2px #028358;
}


/*      BOTAO PARA P MENU MOBILE  (configuração dele é no @media, la em baixo!)  */
.btn-mobile{
    display: none;
}

main#container{
    display: grid;
    grid-template-columns: 2fr;
    align-items: center;
    justify-content: space-between;
    height: 350px;
    border-top: 8px groove /*#44f187*/ #00ffaa;
}

.info{
    font-size: 2.5rem;
    font-family: monospace , sans-serif;
    font-weight: normal;
    /*color: #44f187;*/
    color: rgb(207, 207, 207);
    max-width: 500px;
    margin-left: 45px;
    padding: 50px 20px 100px 20px ;
    text-shadow: 2px 2px 3px #000;
    line-height: 50px;
    grid-column: 1;
}

.info > p::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca  .7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

button#ativar{
    padding: 10px 22px 30px 15px;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background: #00ffaa;
    color: #0e351d;
    display: block;
    margin: auto;
    margin-bottom: 0px;
    height: 15px;
    grid-column: 2;
    grid-row: 1;
    border: solid 2px #00ffaa;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.747);
    cursor: pointer;
}

button#ativar:hover{
    box-shadow: 0px;
    border: solid 1px #00ffaa8f;
}

.frase{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    color: #050918;
    margin: 10px 10px 20px 10px;
    background-color: #00ffaa;
    padding: 20px;
    border: double 2px white;
    border-radius: 5px 20px;
    grid-column: 2;
    grid-row: 1;
    display: block;
    transform: translateX(10px);
    opacity: 0;
}

.frase.animar{
    animation: slide 1s forwards;
}

@keyframes slide{
    to{
        opacity: 2;
        transform: translateX(0);
    }
}

#conteudo{ /* MAIN QUE CONTEM A GRANDE PARTE DO CONTEUDO DO SITE */

    background-image: linear-gradient(#11181E , #292b2e , #62636486);
    /*essa class servirá caso queira colocar algum background-image no fundo. */
     border-bottom: 10px groove /*#44f187*/ #00ffaa;
     padding-bottom: 10px;
     font-family: monospace;
    }

.primeirobox{  /*SECTION QUE CONTEM A PARTE DO SEJAM BEM-VINDOS A GS E AS FRASES EMBAIXO,(esquerda da tela e primeira no mobile)*/
    text-align: center;
    padding: 20px;
    width: 850px;
    margin: auto;
    color: rgb(182, 182, 182);
    text-shadow: 2px 2px 4px black;
}

.primeirobox>h3{
    font-size: 1.5rem;
    padding-bottom: 5px;
    color: rgb(182, 182, 182);
    text-shadow: 2px 2px 4px black;
}

h2#bemvindo{
    text-shadow: 2px 2px 5px rgba(128, 128, 128, 0.589);
    font-size: 2rem;
    margin-left: 25px;
    padding-left: 25px;
    text-align: left;
    margin-bottom: 20px; 
    color: #00ffaa;
    background-color: #11181E;
    border:  groove #00ffaa6b;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.377);
}

/* UMA DAS PARTES MAIS IMPORTANTES, PARTE QUE CONTEM A MAIOR PARTE DE INFORMACOES DO SITE. */


.grid-1{
    font-family: Arial, Helvetica, sans-serif;
    /*background-image: linear-gradient(#11181E , #292b2e , #62636460);*/
    background: #13161a9c;
    border-bottom: 5px groove #00ffaa;
    display: grid;
    max-width: 1300px;
    height: 700px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
    gap: 20px;
   /* grid-template-areas: 
    "a b c"
    "d b c"; */

    grid-template-areas: "a b c"
                         "d d d";
}

/*  QUEM SOMOS -- BOX VERDE */

#quemsomos{
    background-color: #e9e9e927;
    padding: 10px;
    text-align: justify;
    border-radius: 15px;
    box-shadow: 4px 5px 4px rgb(0, 0, 0);
    border: groove 3px #5c5c5cc7;
    max-width: 350px;
    grid-area: a;
    height: 220px;
}

#quemsomos>h1{
    text-align: justify;
    text-shadow: 2px 2px 5px rgb(36, 36, 36);
    font-size: 25px;
    padding: 10px;
    color: /*#00ffaa*/ #fff;
    text-shadow: 1px 1px 1px grey;
    border: groove #44f187;
    border-radius: 10px;
    background-color: rgb(4, 4, 24);
    }

#quemsomos>p{
    padding: 20px;
    font-size:  20px;
    color: rgb(199, 199, 199);
    text-shadow: 2px 2px 2px black;
}

#quemsomos>a{
    text-decoration: none;
}

#quemsomos>a>h3{
   text-align: center;
   padding: 20px;
   background-image: linear-gradient(#00ffaa , #028358);
   border: groove 3px #31af62;
   border-radius: 15px;
   box-shadow: 4px 4px 2px rgb(19, 19, 19);
   color: #fff;
}

/* CONFIRA O BLOG --  BOX ROXO*/

#confira-blog{
    height: 220px;
    width: 350px;
    background-color: #e9e9e927;
    color: #fff;
    padding: 10px;
    text-align: justify;
    border-radius: 15px;
    box-shadow: 4px 5px 4px rgb(3, 3, 3);
    border: groove 3px #555555c7;
    /*grid-area: d;*/
    grid-area: b;
}

#confira-blog > h1 {
    background-color: #11181E;
    color: #fff;
    text-shadow: 2px 2px 5px rgb(36, 36, 36);
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: groove 4px #b35cc4;
    border-radius: 20px;
}

#confira-blog > p {
    padding: 10px 20px 0px 20px;
    line-height: 20px;
    margin-top: 10px;
    font-size:  20px;
    color: rgb(199, 199, 199);
    text-shadow: 2px 2px 2px black;
}

#confira-blog > a > h3 {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-image: linear-gradient(rgb(120, 15, 134) , rgb(93, 9, 104));
    border: groove 3px #b522c2;
    border-radius: 15px;
    color: #fff;
    text-shadow: 3px 3px 2px #4b4b4b;
    box-shadow: 4px 4px 2px rgb(22, 22, 22);
}

#confira-blog > a {
    text-decoration: none;
}

/* TODA A PARTE DE LISTAS NO MEIO DO SITE*/

.listas{
    width: 1100px;
    padding: 40px;
    height: 300px;
    margin: auto;
    /*background-color: #e9e9e91f;*/
    background: #181C20;
    border-radius: 10px;
    color: #fff;
    box-shadow: 4px 4px 4px #000;
    border: groove 2px #777777;
    /*grid-area: b;*/
    grid-area: d;
}

.listas>h2{
    background-color: rgba(4, 4, 24, 0.938);
    padding: 10px;
    margin-bottom: 20px;
    border: groove 2px #00ffaa;
    border-radius:  5px 10px;
    text-align: center;
}

.listas > ul {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    justify-content: space-around;
    gap: 25px;
    width: 800px;
    margin: auto;
}

.listas> ul > li > h3{
    background-color: rgba(0, 0, 0, 0.781);
    padding: 5px;
    border-radius: 10px;
    border: groove 1px #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.603);
    text-align: center;
}
.listas>ul>li>p{
    padding: 10px 20px;
    /*font-weight: bold;*/
    font-size:  17px;
    color: rgb(29, 29, 29);
    /*background-color: rgba(0, 0, 0, 0.158);*/
    background-image: linear-gradient(#00ffaa , #00ffaa3a);
    border-radius: 10px;
    border: groove 1px black;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.603);
    margin-bottom: 3px;
}

.listas>ul>li>p:hover{
    background-image: linear-gradient(#00ffaa3a , #00ffaa) ;
    font-weight: bold;
}

#tele-h3{
    /* color: rgb(0, 195, 255); */
    color: rgb(187, 187, 187);
    grid-column: 1;
    grid-row: 1;
 }
 #desv-etf{
    /* color: tomato;*/
    color: rgb(187, 187, 187);
    grid-column: 2;
    grid-row: 1;
 }
 #guia-h3{
     /*color: #00ffaa;*/
     color: rgb(187, 187, 187);
     grid-column: 1;
     grid-row: 2;
 }
 #bonus-h3{
     color: rgb(187, 187, 187);
     grid-column: 2;
     grid-row: 2;
 }
 
/* O QUE ESTA POR VIR*/

#oque-esta-porvir{
    height: 200px;
    width: 300px;
    border: groove 3px #575757;
    border-radius: 15px;
    background-color: #e9e9e921;
    padding: 20px;
    box-shadow: 5px 5px 2px rgb(7, 7, 7);
    grid-area: c;
}

#oque-esta-porvir>h2{
    color: #11181E;
    background-image: linear-gradient(#00ffaa , #028358);
    border: groove #525252;
    border-radius: 10px 40px;
    text-align: center;
    box-shadow: 2px 2px 6px black;
}

#oque-esta-porvir > p {
    padding: 10px;
    font-size:  20px;
    color: rgb(199, 199, 199);
    text-shadow: 2px 2px 2px black;
}

#oque-esta-porvir > a > h3 {
    text-align: center;
    background-image: linear-gradient(#00ffaa , #028358);
    padding: 20px;
    border: groove 1px #00ffaa;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgb(24, 24, 24);
    color: #fff;
    text-decoration: none;
}

#oque-esta-porvir>a{
    text-decoration: none;
}

div#img-relatorios{
    color: #fff;
    background-image: url(imagens-do-site/fundo-relatorioempresas.png);
    border: groove 2px #505050;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(75, 75, 75, 0.671);
    padding: 20px;
    margin-top: 35px;
    max-width: 670px;
    height: 185px;
    margin: auto;
}

#img-relatorios>h2{
    margin-top: 15px;
    width: 255px;
    font-size: 2.0rem;
    font-family:  sans-serif;
    text-shadow: 2px 2px 4px rgba(128, 128, 128, 0.644);
}

/*       ANIMAÇÃO DATA-ANIME     */ /*    IMPORTANTE !!!*/

[data-anime] {
    opacity: 0;
    transition: .3s;
    transform: translate3d(-50px , 0 , 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px , 0px , 0px);
}

/* AQUI É ONDE FICA A DESCRICAO E OS BOTOES P INSTAGRAM E PARA O TELEGRAM*/

.centralizar{
    width: 1000px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
    padding: 30px; 
    text-shadow: 2px 2px 2px rgba(82, 82, 82, 0.342); 
}

.centralizar > h2 {
    font-size: 1.8rem;
}
.centralizar > p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* AONDE TEM UM BOX E ONDE OS CIRCULOS DE INSTAGRAM E TELEGRAM ESTÃO.*/
#receitas-relatorios{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #f7f7f715;
    padding: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
    width: 400px;
}

.botao-1{
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    background-image:linear-gradient(rgb(5, 5, 61),rgba(255, 6, 89, 0.473), rgba(255, 0, 242, 0.685), rgba(255, 255, 0, 0.514));
    border: groove 2px rgba(255, 6, 89, 0.473);
    border-radius: 50px;
    max-width: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);
}
.botao-1>a{
    color: #fff;
    text-decoration: none;
}

.botao-1>a>img{
    width: 50px;
    height: 50px;
}

.botao-1:hover{
    box-shadow: 0px 0px 0px;
    border: groove 1px rgba(255, 6, 89, 0.473);
}
.botao-2{
    margin: 0 auto;
    padding: 10px;
    max-width: 300px;
    text-align: center;
    border: groove 2px #204652;
    background-color: rgba(0, 195, 255, 0.678);
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);
}
.botao-2>a{
    text-decoration: none;
    color: #070e25;
}

.botao-2>a>img{
    width: 50px;
    height: 50px;
}

.botao-2:hover{
    box-shadow: 0px 0px 0px;
    border: groove 1px black;
}


.div-pictureKindle > .img-kindle > #kindleImg {
    border-radius: 25px;
    margin: auto;
    display: block;
    box-shadow: 4px 4px 5px #000;
    width: 900px;
}

                  /* BOX DO EBOOK GUIA INICIANTE */

                .box-ebook{
                    padding-top: 15px;
                    width: 1350px;
                    height: 380px;
                    background: linear-gradient(#11181E , #00da91);
                    margin: auto;
                    margin-bottom: 50px;
                    display: grid;
                    grid-template-areas: "a b d"
                                         "a c d"
                                         "a e p"
                                         "a e p";
                    grid-template-rows: 80px 80px 100px;
                    grid-template-columns: 300px 550px 350px;
                    row-gap: 10px;
                    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.493);
                    border-radius: 25px;
                    border: groove 2px rgb(51, 51, 51);
                    border-top: none;
                }
                
                #capa-ebook {
                    grid-area: a;
                }
                
                #text-cta {
                    grid-area: b;
                    width: 600px;
                    height: 100px;
                    color: aliceblue;
                    font-family: monospace;
                    font-size: 1.3rem;
                }
                
                .botoes-ebook {
                    grid-area: c;
                    height: 100px;
                    width: 450px;
                }
                
                #checkout {
                    padding: 15px 40px 15px 40px;
                    background-image: linear-gradient(#00ffaa , #028358);
                    cursor: pointer;
                    border-radius: 20px;
                    margin-right: 30px;
                }

                #previa-ebook {
                    padding: 15px 40px 15px 40px;
                    background-image: linear-gradient(#00ffaa , #028358);
                    cursor: pointer;
                    border-radius: 20px;
                    margin-left: 30px;
                }
                
                #edit-list {
                    grid-area: e;
                    color: white;
                    width: 450px;
                    font-size: 1.5rem;
                    width: 450px;
                }

                #diasGarantia {
                    grid-area: d;
                    padding: 20px;
                    border: groove 2px #b522c2;
                    box-shadow: 2px 2px 2px black;
                    color: white;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    align-self: center;
                    border-radius: 25px;
                    text-align: center;
                    background-color: #11181E;
                }
                
                #pdoemogi {
                    height: 55px;
                    width: 330px;
                    box-shadow: 2px 2px 2px black;
                    border-radius: 20px;
                    grid-area: p;
                    padding: 20px;
                    padding-bottom: 20px;
                    color: white;
                    text-align: center;
                    border: solid 2px rgb(51, 51, 51);
                    background-color: #11181E;
                }

/* AQUI NESTA PARTE IREI ANIMAR A UL DO CONTEUDO DO EBOOK */

#titulo-dt {
    border: solid 1px #00da91;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
    width: 450px;
    cursor: pointer;
    background-color: #11181E;
    font-family: monospace;
    font-size: 1.2rem;
}

#edit-list > dd {
    display: none;
}

#edit-list > dt::after {
    content: '(clique para esconder)' ;
    color: white;
    font-size: .5em;
    margin-left: 10px;
}

#edit-list > dt.ativo::after {
    content: '(clique aqui para ler)';
    margin-left: 10px;
    color: white;
    font-size: .5em;
}

#edit-list > dd.ativo {
    display: block;
    animation: slideDown .5s forwards;
    width: 450px;
    border: groove 1px white;
    border-radius: 15px;
    background-color: rgba(231, 231, 231, 0.719);
    color: #0a0c0e;
    font-size: 1.1rem;
    padding: 15px;
}

@keyframes slideDown {
    from{
        opacity: 0;
        max-height: 0;
    }

    to{
        opacity: 1;
        max-height: 200px;
    }
}
              /* popup com o scroll --  frase com img do buffet*/

#frase-buffet{
    color: #fff;
    background-image: url('imagens-do-site/foto-buffet-fundo.png');
    border: groove 2px #e4e4e4;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(165, 165, 165, 0.671);
    padding: 20px;
    margin-top: 35px;
    width: 670px;
    margin: auto;
}

#frase-buffet p {
    width: 350px;
}
#frase-buffet>h2{
    padding: 10px;
}

[data-anime]#frase-buffet{
    opacity: 0;
    transition: .3s;
    transform: translate3d(50px , 0px , 0px);
}

[data-anime]#frase-buffet.animate{
    opacity: 1;
    transform: translate3d(0px , 0px , 0px);
}

/* APRESENTANDO O BLOG */

.apres-blog{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    text-shadow: 2px 2px 2px grey;
    margin-top: 25px;
}

#imagens{
    margin: auto;
    margin-top: 20px;
    /*color: #050918;*/
    color: #f3f5f4;
    line-height: 25px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1350px;
    justify-content: center;
    background-color: rgba(75, 74, 74, 0.356);
}

#imagens>div{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    background-color: rgba(233, 233, 233, 0.192);
    padding: 20px;
    font-size:  17px;
    max-width: 300px;
    border: groove 2px rgba(0, 0, 0, 0.658);
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
}

#imagens>div:hover{
    background-color: rgb(120, 15, 134);
    color: #fff;
}

/* RODAPÉ DO SITE */

footer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    background-color: #050918;
    padding: 20px;
    border-top: groove 2px #44f187;
}

footer>p>a{
    color: #44f187;
    text-decoration: none;
}