/* COMEÇA AQUI A CONFIGURAÇÃO MOBILE COM @MEDIA , DEIXANDO A INTERATIVIDADE MOBILE MELHOR.*/

@media ( max-width:600px) {

    /*CONFIGURAÇÃO DA PARTE DE BAIXO -- fora do cabeçalho
    
    AQUI É A CSS QUE ESTILIZA A PARTE DE BODY DA HOME. NADA MAIS.
    */
* {
    margin: 0px;
    padding: 0px;
    max-width: 370px;
}    

body {
    margin: auto;
}

header {
    max-width: 370px;
    height: 50px;
    padding: 0px;
}

.logo > img {
    width: 100px;
}

section#container {
    height: 340px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    align-content: center;
    max-width: 100%;
    margin-bottom: 5px;

   /* background: url(imagemSiteCSS/background-ebook.jpg);
   /* background: url(imagemSiteCSS/fundo-homeGS.png);
   background: url(imagemSiteCSS/Cópia\ de\ fundo-blog.png);
   /*background: url(imagemSiteCSS/grow-background3.jpg);*/
}
    
.info > p{
    margin: auto;
    font-size: 1.4rem;
    margin-left: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 280px;
    margin-top: 30px ;
    padding: 15px;
    text-align: center;
    grid-row: 1;
    line-height: 23px;
    height: 90px;
    
    color: rgb(221, 221, 221);
 }
    
button#ativar{
    width: 230px;
    height: 30px;
    grid-row: 2;
    grid-column: 1;
    /*margin-top: 5px;*/
    margin: auto;
    border-radius: 10px;
    border: solid 1px #1a1a1a;
    box-shadow: 2px 2px 2px black;

    /*background: linear-gradient(#913AF3 , #7d33d3);*/
    background: linear-gradient(#02967d , #02e0bb);
    color: #1a1a1a;
    font-size: .8rem;
}

button#ativar:hover {
    width: 235px;
    height: 50px;
}
        
.frase{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: bold;
    background: linear-gradient(#02e0bb , #02967d);
    /*color: black;*/
    color: black;
    width: 290px;
    margin: auto;
    margin-top: 10px;
    border: 2px groove black;
    text-align: center;
    grid-row: 3;
    grid-column: 1;
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.76);
    border-radius: 10px;
}

#conteudo {
    padding-top: 10px;
    /*border: 1px groove #838383a8;
    border-bottom: #02e0bb groove 1px;*/
    width: 320px;
    margin: auto;
    /*box-shadow: 2px 2px 2px black;*/
    line-height: 20px;
}

/* ESSA É A PARTE DO SEJA BEM VINDOS A GROW SEARCH*/

h2#bemvindo{
    margin: auto;
    margin-bottom: 25px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 8px;
    text-align: center;
    width: 250px;
}

/*     PARTE DE SCROLL MOBILE DO GRID1      */
.scroll-mobile {
    overflow-x: scroll;
}

.scroll-mobile::-webkit-scrollbar {
    height: 8px;
    margin: 0px;
}
    
div.grid-1{
    height: 215px;
    padding: 15px;
    display: grid;
    grid-template-areas: "a d b"
                         "c c c";
}

#quemsomos{
    width: 220px; 
    height: 150px;
    grid-area: a;
    margin: 0px;
}

#quemsomos > p {
    font-size: 1rem;
    width: 200px;
    padding-top: 0px;
    line-height: 20px;
    margin: 0px;
}
 #quemsomos > a > h3 {
   height: 25px;
   font-size: 1rem;
   width: 150px;
   padding: 0px;
}

#quemsomos > #stickQsomos {
    width: 35px;
    padding: 5px;

    position: relative;
    left: 80px;
    top: -25px;
}

#confira-blog {
    width: 220px;
    height: 150px;
    grid-area: d;
    margin: 0px;
}

#confira-blog > p {
    font-size: 1rem;
    width: 200px;
    padding-top: 0px;
    line-height: 20px;
    margin: 0px;
}

#confira-blog > a > h3 {
    font-size: 1rem;
    height: 25px;
    width: 150px;
    padding: 0px;
    margin-left: 35px;
}

#confira-blog > #stickBlog {
    width: 62px;
    padding: 5px;

    position: relative;
    left: 70px;
    top: -25px;
}

.listas {
    display: none;
    width: 280px;
    height: 672px;
    background-color: transparent;
    grid-area: c;
}

#oque-esta-porvir {
    grid-area: b;
    width: 220px;
    height: 150px;
    border-radius: 8px;
}

#oque-esta-porvir > p {
    font-size: 1rem;
    width: 200px;
    padding-top: 0px;
    line-height: 20px;
    margin: 0px;
} 


#oque-esta-porvir > a > h3 {
    font-size: 1rem;
    height: 25px;
    padding: 0px;
    margin: 20px 0px 0px 10px;
}

#oque-esta-porvir > #stickNov {
    width: 62px;
    padding: 5px;

    position: relative;
    left: 80px;
    top: -25px;
}

/*             PARTE MUDANDO DE COR     */
.mudando-cor {
    max-width: 412px;
    height: 455px;  
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.titulosInicial-i {
    top: 1320px;
    left: 800;
    font-size: 16px;
    
}

div#img-relatorios{
    margin-top: 10px;
    padding: 20px;
    width: 300px;
    height: 210px;
    /*background-image: url(imagens-do-site/receitaempresas-mobile.png);*/
    display: none;
}

#img-relatorios>h2{
    display: none;
}

.dividindoPag {
    display: flex;
    flex-wrap: wrap;
}

.centralizar {
    margin: 0px;
    width: 250px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

.centralizar > h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    width: 295px;
    color: #fff;
    margin-bottom: 15px;
    text-align: left;
}

.centralizar > p{
    width: 300px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
}
  
#receitas-relatorios{
    display: flex;
    width: 200px;
    height: 20px;
    margin: auto;
    margin-top: 0px;
    border-radius: 0px;
    border: solid 1px #1a1a1a;
    margin-bottom: 50px;
    border-radius: 10px;
}
    
#receitas-relatorios > .botao-1, .botao-2{
    width: 50px;
    height: 50px;
    align-items: center;
    color: #fff;
    border: none;

    background: none;
}

#receitas-relatorios > p {
    display: none;
}
/*    TERMINADA A PARTE DE MUDANÇA DE COR */


/* COMECANDO A PARTE DO BOX-EBOOK !!! */

.titulos-inicial {
    font-size: 1rem;
    margin-top: 15px;
}

.box-ebook {
    display: grid;
    height: 420px;
    max-width: 360px;
    margin: 0px;
    grid-template-areas: "a b"
                         "a c"
                         "d e";
    grid-template-columns: 140px 220px;
    grid-template-rows: 120px 110px 160px;
}

#capa-ebook {
    height: 250px;
    grid-area: a;
}

.info > .text-cta {
    margin: 0px;
    text-align: left;
    font-size: 16px;
    width: 200px;
    grid-area: b;
}

.botoes-ebook {
    grid-area: c;
    width: 200px;
}

#checkout {
    width: 210px;
    font-size: 12px;
    margin-right: 0px;
}

#previa-ebook {
    display: none;
}

#edit-list {
    grid-area: d;
}

#titulo-dt {
    width: 200px;
    font-size: 13px;
}

#edit-list>dd.ativo {
    background: #1a1a1a;
    border: 1px solid #02e0bb;
    width: 330px;
    font-size: 12px;
}

#diasGarantia {
    width: 180px;
    font-size: 14px;
    grid-area: e;
    position: absolute;
    top: -50px;
    left: 10px;
}

#pdoemogi {
    display: none;
}



/* parte do BLOG !!!! */

 #not-5 , #not-6 {
    display: none;
}

/*   AGORA COMECAR A FAZER A PARTER DO BLOG */

.titulosInicial-blog {
    font-size: 10px;
    border-radius: 8px;
    top: 1775px;
    left: -20px;
}

#imagens {
    background: #282A2D;
    display: grid;
    grid-template-columns: 130px 130px 130px 130px;
    overflow-x: scroll;
    width: 100%;
    justify-content: flex-start;
    border-radius: 0px;
    margin-top: 0px;
}

#imagens::-webkit-scrollbar {
    height: 8px;
}


#imagens::-webkit-scrollbar-corner {
    margin-top: 100px;
}

#imagens::-webkit-scrollbar-thumb {
    background: #02e0bb;
}

#imagens > a {
    margin: 50px 0px 20px 10px;
    width: 50px;
    height: 100px;
    display: block;
    background-color: #1f1f1f;
}

#imagens > #not-1 {
   /* background: url(imagemSiteCSS/Bitcoin.jpg); */
}

#imagens > div > p {
    display: none;
    font-size: .5rem;
    line-height: 13px;
}

#imagens > div > a > img {
    display: none;
}

 #footer {
    max-width: 412px;
    margin-top: 30px;
    background-color: #02e0bb;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .8rem;
}

#footer > p {
    font-size: 1rem;
}

footer > .contatoFooter {
    display: none;
}

}