*{
    font-family: 'Work Sans', sans-serif;
    /*font-family: 'Red Hat Mono', monospace;*/
    /*font-family: 'Roboto', sans-serif;*/
    margin: 0px;
    padding: 0px;
}

body{
    /*background-image: linear-gradient(rgb(255, 255, 255), rgba(9, 7, 34, 0.795), rgb(255, 255, 255));*/
    background-image: linear-gradient(#11181E , #1b2024);
}


.header{
    background-color: #11181E;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.header>a{
    color: #fff;
}
.menu{
    color: #fff;
    display: flex;
    padding-right: 20px;
}

.menu>li{
    margin-left: 12px;
    list-style: none;
    font: solid;
}

.menu>li>a{
    display: block;
    padding: 10px;
    background-color: #44f187;
    border-radius: 10px;
    border: groove 2px #fff;
    color: rgb(65, 65, 65);
    text-decoration: none;
    font-weight: bold;
}

.menu>li>a:hover{
    background-color: #070e25;
    color: #44f187;
}

.apresentaçao{
    background-color: rgba(255, 255, 255, 0.267);
    color: #fff;
    padding: 10px 20px 10px 30px;
    margin: 0px 30px;
    border: groove 5px #44f187;
    text-shadow: 3px 3px 3px grey;
    border-radius: 20px;
}

#info-do-ebook{
    font-size: 1.2rem;
    background-color: #44f187;
    box-shadow: 2px 2px 2px rgb(73, 73, 73);
    text-align: center;
    border-radius: 15px;
    color: rgb(6, 6, 27);
    text-shadow: 1px 1px 1px  grey;
    margin: 30px 100px;
}

.grid1{
    display: grid;
   grid-template-columns: repeat(4 , 1fr);
   max-width: 1300px;
   margin: 20px;
   color: #fff;
   /*align-items:flex-end ;
   font-size: 1.2rem; */
   gap: 20px;
}

.grid1>#img-ebook{
    grid-column: 1;
    grid-row: 1/5;
    margin: 0px;
    align-items: center;
    padding: 0px;
    height: 385px;
}

#info1{
    background-color: #fff;
    color: #11181E;
    box-shadow: 3px 3px 3px grey;
    padding: 10px;
    border-radius: 20px;
    font-weight: bolder;
    text-align: center;
}

#info2{
    background-color: #fff;
    color: #11181E;
    box-shadow: 3px 3px 3px grey;
    padding: 10px;
    border-radius: 20px;
    font-weight: bolder;
    text-align: center;
}

#info3{
    background-color: #fff;
    color: #11181E;
    /*height: 100px;*/
    box-shadow: 3px 3px 3px grey;
    padding: 10px;
    border-radius: 20px;
    font-weight: bolder;
    text-align: center;
}

#info4{
    background-color: #fff;
    color: #11181E;
    box-shadow: 3px 3px 3px grey;
    padding: 10px;
    border-radius: 20px;
    font-weight: bolder;
    text-align: center;
}

#info5{
    background-color: #fff;
    color: #11181E;
    box-shadow: 3px 3px 3px grey;
    padding: 10px;
    border-radius: 20px;
    font-weight: bolder;
    text-align: center;
}

 #info6{
    background-color: #fff;
    color: #11181E;
    box-shadow: 3px 3px 3px grey;
    padding: 10px;
    border-radius: 20px;
    font-weight: bolder;
    text-align: center;
}

#ebook{
    text-align: center;
    background-color: #44f187;
    max-width: 400px;
    min-width: 200px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    border: groove black;
    box-shadow: 2px 2px 2px rgb(73, 73, 73);
    border-radius: 40px;
}

#info1:hover , #info2:hover , #info3:hover , #info4:hover , #info5:hover , #info6:hover{
    background-image: linear-gradient(#11181E , #1b2024);
    color: #44f187;
}

#ebook:hover{
    background-color: #2df179;
    box-shadow: 1px 1px 1px grey;
    border: groove 1px rgb(37, 37, 37);
}

#ebook>a{
    font-size: large;
    font-weight: 200;
    text-decoration: none;
    color: #11181E;
    text-shadow: 3px 3px 3px grey;
}

#oque-recebe{
    margin: 15px;
    padding: 20px;
    background-color: #fff;
    border-top: groove 10px #44f187;
    border-radius: 15px;
}

#oque-recebe> h1 , h3{
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.493);
}

#img-com-lista{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

#img-com-lista>ul>li{
    font-family: 'Courier New', Courier, monospace;
    width: 600px;
    margin-bottom: 20px;
    margin-left: 2px;
    /*background-image: linear-gradient(#11181E , #1b2024);*/
    background-image: linear-gradient(#44f187 , #1b20248e);
    color: #fff;
    text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.438);
    box-shadow: 2px 2px 3px gray;
    padding: 20px;
    border-radius: 20px;
}

#img-com-lista>ul>li:hover{
    color: #000;
    background-image: linear-gradient(#44f18680 , #1b202425);
    box-shadow: none;
}

footer{
    padding: 20px;
    background-color: #44f187;
    text-align: center;
    color: rgb(7, 11, 19);
    border-top: groove 2px #fff;
}

@media ( max-width:600px) {
    #info-do-ebook{
        width: 350px;
        margin: 10px 10px 10px 6px;
    }

    .grid1{
        display: flex;
        flex-wrap: wrap;
        max-width: 420px;
    }

    .grid1>#img-ebook{
        height: 470px;
        padding: 20px;
    }

    .grid1>div{
        margin: auto;
        width: 400px;
    }

    #img-com-lista>ul>li{
    max-width: 260px;
    
    }
}