body{
    font: normal arial 15pt;
}

main{
    display: flex;
    max-width: 1350px;
    
}

#conteudo-quemsomos{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    max-width: 850px;
    border-radius: 20px;
    border: groove 2px greenyellow;
}

#conteudo-quemsomos>h1{
    font-size: 3rem;
    color: rgba(6, 6, 24, 0.712);
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.301);
}

#conteudo-quemsomos>h2{
    font-size: 2rem;
    color: #3aca71;
}

#conteudo-quemsomos>p{
    text-align: justify;
    line-height: 25px;
}

#com-imagens{
    margin: 20px;
    padding: 20px;
    background-color: #44f187;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.507);
    border-radius: 25px 8px;
    border: groove 2px rgba(3, 3, 14, 0.616);
}

#com-imagens>h2{
    font-size: 2rem;
    margin-bottom: 10px;
    border-bottom: groove 2px rgba(0, 0, 0, 0.705);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.336);
}

#com-imagens>p{
    margin-top: 15px;
    line-height: 25px;
    font-weight: bold;
}

.pcomlinks{
    margin-top: 10px;
}

#telegram-qsomos{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

aside{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 400px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    border: groove 2px greenyellow;
}

div{
    margin: 20px;
}

#not-1{
    background-color: rgba(54, 54, 54, 0.178);
    width: 300px;
    text-align: center;
    padding: 10px;
    border: 2px groove rgba(0, 0, 0, 0.644);
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.651);
}

#not-1:hover{
    background-color: #b522c2a6 ; 
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.438);
    color: #fff;
    font-weight: bold;    
}

#not-2{
    background-color: rgba(54, 54, 54, 0.178);
    width: 300px;
    text-align: center;
    padding: 10px;
    border: 2px groove rgba(0, 0, 0, 0.644);
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.651);
}

#not-2:hover{
    background-color: #b522c298 ;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.438);
    color: #fff;
    font-weight: bold;
}

#not-3{
    padding: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    color: black;
    border: groove 2px rgba(0, 0, 0, 0.767);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.651);
}

#not-3>a{
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.233);
}

#not-3:hover{
    background-color: #b522c298;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.438);
}


@media (max-width:600px){
    #conteudo-completo{
        display: flex;
        flex-wrap: wrap;
    }

    #conteudo-quemsomos{
        margin: 5px;
        padding: 10px;
    }
    #com-imagens{
        width: 87%;
        margin: 0px;
    }

    #conteudo-completo>#noticias-blog{
        width: 320px;
    }

    #noticias-blog{
        margin: 5px;
        padding: 10px;
    }
    #noticias-blog>div{
        max-width: 280px;
        margin: 0px;
        margin-bottom: 10px;
    }
    div>a>img{
        width: 250px;
    }

    img{
        width: 270px;
    }
    
}